body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background-color: #000 !important;
	min-width: 380px;
}

main {
	position: relative;
}
